[submodule "MyList1.DAL"]
	path = MyList1.DAL
	url = https://github.com/vinils/MyList1.DAL.git
[submodule "MyList1"]
	path = MyList1
	url = https://github.com/vinils/MyList1.git
[submodule "MyList1.Test"]
	path = MyList1.Test
	url = https://github.com/vinils/MyList1.Test.git
